body {
    padding: 50px;
    background : #ddd;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  a {

    float: left;

    display: block;

    color: #fffb25;

    padding: 14px 16px;

    text-decoration: none;

  }

 

  a:hover {

    padding: 30px;

    background: #ddd;

    color: black;

  }

  h1 {
        padding: 75px;
    
        text-align: center;
    
        color: white;

        background: #fffb25;
    
        font-size: 75px;
  }
  #message {
    color: red;
  }
  nav ul li {
    display: inline;
    list-style-type: none;
  }
  .menu {text-align: right;}
   